.todoInsert-area {
  display: flex;
  background: #d2d4e5;

  input {
    flex: 1;
    padding: 0.8em;
    background: none;
    outline: none;
    border: none;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #666;

    &::placeholder {
      color: #666;
    } // input::placeholder
  } // input

  button {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: #afb9c8;
    font-size: 1.2em;
    color: #fff;
    transition: background 0.3s ease-in;
    cursor: pointer;

    &:hover {
      background: #435560;
    }
  } // button
} // .todoInsert-area
