body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #333;
  background: #fff2f4;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} // #root
